/vendor
/node_modules
.env
.env.backup
.env.production
install-coolify.sh
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
.DS_Store
